<div class="row">
    <div class="col">
        <widgets-card title="Form Template" bottom="20px">

            <form #demoForm="ngForm" (ngSubmit)="saveData(demoForm.value)">
                <widgets-form-item label="Name">
                    <input type="text" ngModel name="name" class="form-control" placeholder="Enter Name">
                </widgets-form-item>

                <fieldset ngModelGroup="contact">
                    <widgets-form-item label="Phone">
                        <input type="tel" ngModel name="phone" class="form-control" placeholder="Enter Phone">
                    </widgets-form-item>

                    <widgets-form-item label="Email">
                        <input type="eamil" ngModel name="email" class="form-control" placeholder="Enter Email">
                    </widgets-form-item>
                </fieldset>

                <button type="submit" class="btn btn-primary">Save</button>

            </form>

        </widgets-card>
    </div>

    <div class="col">
        <widgets-card title="Output Value">
            <pre>{{ demoForm.value | json }}</pre>
        </widgets-card>
    </div>
    <div class="col">
        <widgets-card title="Submitted Value">
            <pre>{{ submittedData | json }}</pre>
        </widgets-card>
    </div>
</div>